.ant-tabs-nav-wrap {
    justify-content: center;
}

:where(.css-dev-only-do-not-override-ccdg5a).ant-tabs .ant-tabs-tab-btn {
    outline: none;
    transition: all 0.3s;
    font-weight: 600;
}

:where(.css-dev-only-do-not-override-ccdg5a).ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    /* color: rgb(252, 27, 27) !important;  */
    text-shadow: 0 0 0.25px currentcolor;
}

:where(.css-dev-only-do-not-override-ccdg5a).ant-tabs .ant-tabs-tab:hover {
    /* color: rgb(252, 27, 27) !important;  */
    opacity: 0.7;
}

.mixitup-gallery .nav {
    border: none;
    justify-content: center;
}

.mixitup-gallery .nav li {
    min-width: 150px;
    max-width: 45%;
    text-align: center;
}

.mixitup-gallery .nav li a.active {
    border: none;
    background: #fc1b1b !important;
    color: #fff !important;
}

.mixitup-gallery .nav li a {
    background: #271f2d;
    color: #fff;
    border: none !important;
    font-size: 16px;
    height: 45px;
    font-weight: bold;
    border-radius: 4px 4px 0 0;
    margin-top: 3px;
}

@media only screen and (max-width: 767px) {
    .mixitup-gallery .nav li a {
        font-size: 15px;
    }
}

