#header {
  background-color: rgb(0, 5, 29);
}

.fullscreen-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Căn trái các phần tử */
  padding: 20px; /* Thêm khoảng cách bên trong */
  z-index: 9999;
}

.mobile-nav-toggle {
  align-self: flex-end; /* Đặt nút X ở góc phải */
  font-size: 24px; /* Kích thước biểu tượng */
  cursor: pointer; /* Con trỏ chuột hiển thị khi hover */
}

.fullscreen-menu ul {
  width: 100%;
  list-style-type: none;
  padding: 0;
  text-align: left; /* Căn trái văn bản trong danh sách */
}

.fullscreen-menu li {
  padding: 20px;
  font-size: 24px;
  cursor: pointer;
}

.fullscreen-menu li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.drop-down {
  padding-left: 50px !important;
}
